.spacer {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
  }

footer {
    width: 100%;
    font-size: smaller;
    text-align: center;
    height: 2.2em;
  }
  
  .icon-container {
    display: inline-block;
    vertical-align: middle;
  }
  
  .icon-container svg {
    font-size: 1.2em;
  }
  
  footer a {
    display: inline-flex;
    align-items: center;
    color: #717181;
    transition: color 0.1s ease-in-out;
    text-decoration: none;
    font-weight: bold;
  }
  
  footer a:hover {
    color: rgb(88, 88, 88);
  }

  footer p {
      margin: 0;
  }