body, input, textarea, button {
    font-family: 'Fira Sans', sans-serif;
    color: #A9B7C6;
}
body {
    background-color: #1a1a1c;
    margin: 0;
}

.page {
    display: flex;
    max-width: 53rem;
    margin: 0 auto 0;
    padding: 0 1rem 0;
    flex-direction: column;
    height: 100vh;
}

.icon-container {
    display: inline-block;
    vertical-align: middle;
}

.icon-container img {
    display: block;
    margin: 0 auto;
}